<!DOCTYPE html>
<html lang="en">
<head>
    <title>会员商城</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" href="../css/mygift.css">
</head>
<body>
    <div class="mygift">
        <ul>
            <li>狗项链</li>
            <li>狗项链</li>
            <li>狗项链</li>
            <li>狗项链</li>
        </ul>
        <a href="../index.html" class="homeBtn"><img src="../images/myGift/home.png" alt=""></a>
        <a href="personal_info.html" class="btn"><img src="../images/myGift/btn.png" alt=""></a>
    </div>

</body>
<script type="text/javascript" src="../js/jquery.min.js"></script>
</html>