html,
body {
  width: 1024px;
  height: 768px;
  overflow: hidden;
}
body {
  width: 1024px;
  height: 768px;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background: transparent;
}
header {
  margin-top: 56px;
  padding: 30px 0;
  text-align: center;
  text-indent: 113px;
  font-size: 0;
}
header img {
  width: 226px;
  display: inline-block;
}
header .small_title {
  width: 134px;
}
section {
  text-align: center;
}
section .chat {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  padding: 15px 20px;
  width: 568px;
  height: 424px;
  background: url(../images/v_bg.png) no-repeat;
  background-size: 100% 100%;
}
section .chat .box1 {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
section .chat .box2 {
  position: absolute;
  left: 40px;
  top: 40px;
  box-sizing: border-box;
  padding: 8px;
  width: 118px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
section .chat .call {
  display: none;
  position: absolute;
  left: 28px;
  top: 23px;
  width: 512px;
  height: 378px;
  background: #000;
}
section .chat .call p {
  padding: 30px 0;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 10px;
  color: #fff;
}
section .chat .call .btn_group {
  text-align: center;
}
section .chat .call .btn_group img {
  display: inline-block;
  padding: 30px 50px;
}
section .chat .control {
  display: none;
  position: absolute;
  left: 28px;
  right: 28px;
  bottom: 23px;
  z-index: 99999;
  text-align: center;
}
section .chat .control img {
  width: 62px;
  height: 62px;
  margin-bottom: 15px;
}
section .chat .control p {
  padding: 8px 0;
  background: #000;
  color: #fff;
  font-size: 22px;
}
section .chat .breaklink {
  position: absolute;
  left: 28px;
  top: 23px;
  width: 512px;
  height: 378px;
  background: #000;
}
section .chat .breaklink p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 10px;
  color: #fff;
}
