html,
body {
  width: 100%;
  height: 100%;
}
body {
  width: 1024px;
  height: 768px;
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
video {
  background: transparent;
}
header {
  margin-top: 56px;
  padding: 30px 0;
  text-align: center;
  text-indent: 113px;
  font-size: 0;
}
header img {
  width: 226px;
  display: inline-block;
}
header .small_title {
  width: 134px;
}
section {
  text-align: center;
}
section .doctor_info_doc {
  display: none;
}
section .chat_doc {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 20px;
  width: 568px;
  height: 424px;
  background: url(../images/v_bg.png) no-repeat;
  background-size: 100% 100%;
}
section .doctor_info_user {
  display: inline-block;
  height: 424px;
  vertical-align: top;
  background: url(../images/doctor_bg.png) no-repeat;
  background-size: 100% 100%;
}
section .doctor_info_user img {
  height: 100%;
}
section .chat_user {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  padding: 15px 20px;
  width: 568px;
  height: 424px;
  background: url(../images/v_bg.png) no-repeat;
  background-size: 100% 100%;
}
section .chat_user .box2 {
  z-index: 6666;
}
section .box1 {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
section .box1 video {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
section .box2 {
  position: absolute;
  left: 40px;
  top: 40px;
  box-sizing: border-box;
  padding: 8px;
  width: 118px;
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
section .box2 video {
  width: 100%;
  height: 100%;
}
section #call {
  position: absolute;
  left: 28px;
  top: 23px;
  width: 512px;
  height: 378px;
  background: #000;
}
section .breaklink {
  display: none;
  position: absolute;
  left: 28px;
  top: 23px;
  width: 512px;
  height: 378px;
  background: #000;
}
section .breaklink p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 10px;
  color: #fff;
}
section .call_doc p {
  padding: 10px 0;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 10px;
  color: #fff;
}
section .call_doc .btn_group {
  text-align: center;
}
section .call_doc .btn_group img {
  display: inline-block;
  padding: 30px 50px;
}
section .call_user {
  position: absolute;
  left: 28px;
  top: 23px;
  width: 512px;
  height: 378px;
  background: #000;
}
section .call_user p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 10px;
  color: #fff;
}
section .call_user .btn_group {
  display: none;
}
section .control {
  display: none;
  position: absolute;
  left: 28px;
  right: 28px;
  bottom: 23px;
  z-index: 99999;
  text-align: center;
}
section .control img {
  width: 62px;
  height: 62px;
  margin-bottom: 15px;
}
section .control p {
  padding: 8px 0;
  background: #000;
  color: #fff;
  font-size: 22px;
}
