html{
    /* 禁止选择文本 */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    /* 禁止文字自动调整大小*/
    -webkit-text-size-adjust: 100%;
}
body{
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
    margin: 0;
}
ul,ol{
    padding: 0;
    list-style: none;
}
img{
    border: none;
    vertical-align: top;
}
a{
    text-decoration: none;
}
img,a{
    /* 禁止长按页面弹出菜单 */
    -webkit-touch-callout: none;
}
input,button{
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}
a,input,button{
    /* 禁止IOS点击元素高亮 */
    -webkit-tap-highlight-color: transparent;
}
/*隐藏滚轮*/
::-webkit-scrollbar {
    display: none;
}