html{
    overflow: hidden;
}
body{
    display: flex;
    flex-direction: column;
    background: url(../images/bg.png) no-repeat;
}

header{
    position: relative;
    margin: 66px auto 0;
}
.small_title{
    position: absolute;
    bottom: 0;
    right: -250px;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 272px 0;
}
.doctor_info{
    position: relative;
    width: 388px;
    height: 694px;
    background: url(../images/doctor_bg.png) no-repeat center;
}
.doctor_info .line_state{
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 20px;
    margin: auto;
}
.chat{
    position: relative;
    width: 920px;
    height: 696px;
    border-radius: 10px;
    overflow: hidden;
}
.box1{
    width: 920px;
    height: 696px;
    background: rgba(0,0,0,0.5);
}
.box2{
    position: absolute;
    left: 22px;
    top: 22px;
    width: 208px;
    height: 158px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
}
video{
    Object-fit: fill;
}
#video1{
    width: 920px;
    height: 696px;
}
#video2{
    position: absolute;
    top: 9px;
    left: 9px;
    width: 190px;
    height: 140px;
}
