body{
    position: absolute;
    width: 640px;
    height: 1038px;
    font-family: 'font1';
}
@font-face{
    font-family: 'font1';
    src: url('HYHeiLiZhiTiJ 1.ttf');
}
.coupon{
    width: 640px;
    height: 1038px;
    background: url("../images/coupon/bj.jpg") no-repeat center center;
}
.coupon .btn{
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    top: 930px;
    width: 224px;
}
.coupon .home{
    position: absolute;
    left: 65px;
    top:920px;
    width:88px ;
}
.coupon .ruleBtn{
    position: absolute;
    left: 490px;
    top:920px;
    width:88px ;
}
.coupon .text{
    position: absolute;
    top: 372px;
}

.coupon .cjText{
    width: 450px;
    height: 370px;
    position: absolute;
    left:0;
    right: 0;
    margin: auto;
    top: 366px;
    overflow: scroll;
}
.coupon ul::-webkit-scrollbar {
    display: none;
}
.coupon ul::-moz-scrollbar {
    display: none;
}
.coupon ul::-ms-scrollbar {
    display: none;
}
.coupon ul::-o-scrollbar {
    display: none;
}
.coupon .cjText li{
    width: 460px;
    height: 124px;
    position: relative;
    border-bottom: 5px dashed #8887d2;
}
.coupon .cjText li img{
    position: absolute;
    top: 40px;
    right: 16px;
}
.coupon .cjText li div{
    position: absolute;
    left: 20px;
    top: 30px;
    color:#8a88d5;
    font-size: 30px;

}
.coupon .cjText li div .textNum{
    font-size: 40px;
}
.coupon .cjText li div .dataText{
    font-size: 24px;
}
.coupon .popup{
    position: absolute;
    width: 640px;
    height: 1038px;
    z-index: 1000;
    background: url("../images/coupon/popup.png");
    display: none;
}
.coupon .popup .ruleText{
    position: absolute;
    width: 376px;
    height: 276px;
    left:120px;
    top:410px;
    color: #8988d3;
    font-size: 17px;
    overflow: scroll;
}
.coupon .popup .ruleText .ma{
    margin-left: 10px;
}
.coupon .popup .ruleText li{
    height: 34px;
    line-height: 34px;
}
.coupon .popup .ruleText .maText{
    margin-top: 40px;
}
