@font-face{
    font-family: 'font1';
    src: url('HYHeiLiZhiTiJ 1.ttf');
}
body{
    font-family: 'font1';
}
.loading{
    width: 640px;
    height: 1038px;
    background: url("../images/loading/bg3.png") no-repeat center center;
}
.loading .loadText{
    font-size: 100px;
    width: 640px;
    text-align: center;
    position: absolute;
    top: 350px;
}
.loading .load .grey,.loading .load .orange{
    position: absolute;
    left: 70px;
    height: 30px;
    border-radius:40px ;
    top: 620px;
}
.loading .load .grey{
    width:500px;
    background-color: #677386;
}
.loading .load .orange{
    width: 0px;
    background-color: #fdc85d;

}
.loading .dog1{
    position: absolute;
    z-index: 100;
    left:80px;
    top:562px;
}
.loading .dog{
    position: absolute;
    z-index: 100;
    right:80px;
    top:562px;
}
canvas{
    position: absolute;
    width: 640px;
    height: 1038px;
    /*background-color: red;*/

}
